/* .week-view-container{
    display: flex;
    flex-direction: row;
    gap:1%;
    min-width: 200px;
} */

.week__wrap {
    width: 100vw;
}

.calendar-header, .calendar-body {
    width: 100%;
    display: flex;
    flex: 1 1 0;
    text-align: center;
}

.calendar-header {
    position: sticky;
    top: 64px;
    background-color: #ffffff;
    z-index: 99;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.30);
}

.days-row{
    width: calc(100% - 72px);
    display: flex;
    flex: 1 1 0;
    text-align: center;
}
.add-event__cell {
    min-width: 72px;
    max-width: 72px;
    height: 72px;
    padding: 8px;
    /* border-bottom: #dadce0 1px solid; */
}

.add-event__cell .add-event__btn {
    min-width: 56px;
    max-width: 56px;
    min-height: 56px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(60,64,67, 0.30), 0px 1px 3px 1px rgba(60,64,67, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
}

.day-columns {
    width: calc(100% - 72px);
    display: flex;
    flex: 1 1 0;
}