.top-bar {
    width: 100%;
    height: 64px;
    padding: 8px;
    background-color: #ffffff;
    border-bottom: 1px solid #d9dce0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0px;
    background-color: #ffffff;
    z-index: 100;
}
.top-bar__left, .top-bar__right {
    display: flex;
    align-items: center; 
}
.app-name {
    font-size: 22px;
    line-height: 24px;
    padding-left: 8px;
    position: relative;
    top: -1.5px;
    vertical-align: middle;
    color: #5f6368;
    margin-right: 8px;
}