.day-cell{ 
    width: 14.28%;
    position: relative;
    /* border-bottom: #dadce0 1px solid; */
}
.day-name {
    line-height: 32px;
    position: relative;
    z-index: 4;
    color: #70757a;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-left: 0;
    margin-top: 8px;
    text-indent: 0.8px;
    text-transform: uppercase;
}
.day-date {
    position: relative;
    z-index: 4;
    font-size: 26px;
    letter-spacing: -2.6px;
    text-indent: -2.6px;
    font-variant: tabular-nums;
    -webkit-font-feature-settings: "tnum" 1;
    font-feature-settings: "tnum" 1;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: #3c4043;
    font-family: Google Sans,Roboto,Arial,sans-serif;
    line-height: 46px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;
    margin-bottom: 8px;
    width: 46px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;

    color: #3c4043;

    cursor: pointer;
    position: relative;
    outline: none;

    font-weight: 400;
}
.day-date:hover {
    background-color: #f1f3f4;
}

.day-cell.--today .day-name {
    color: #1a73e8;
}

.day-cell.--today .day-date {
    background-color: #1a73e8;
    color: white;
}
.day__seperator{
    border-left: #dadce0 1px solid;
    bottom: 0;
    height: 20px;
    margin-left: -1px;
    position: absolute;
}