
.day-column { 
    width: 14.28%;
    position: relative;
    /* border-left: #dadce0 1px solid; */
    /* margin-left: -1px; */
}

.day-time-cell {
    width: 100%;
    height: 50px;
    border-top: #dadce0 1px solid;
    /* color: #dedede; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.day-column__seperator {
    border-left: #dadce0 1px solid;
    top: 0;
    height: 100%;
    margin-left: -1px;
    position: absolute;
}

.event-card {
    background-color: #4384f3;
    color: #ffffff;
    position: absolute;
    /* top: 400px; */
    width: calc(100% - 16px);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;

    text-align: left;
    cursor: pointer;
    overflow: hidden;
}
.event-card.--all-day {
    position: relative;
    margin-bottom: 2px;
    margin-left: 2px;
}
.current-time__line{
    width: 100%;
    height: 2px;
    z-index: 90;
    background-color: #ea4435;
    position: absolute;
}
.current-time__line::before {
    content: '';
    height: 12px;
    width: 12px;
    position: absolute;
    left: -6px;
    top: -6px;
    background-color: #ea4435;
    border-radius: 50%;
}