.time-column {
    min-width: 72px;
    max-width: 72px;
    min-height: 32px;
}
.time-column__cell{
    width: 100%;
    height: 50px;
    border-top: #dadce0 1px solid;
    /* color: #dedede; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
}
.time-column__value {
    margin-top: -6px;
    height: 12px;
    background-color: #ffffff;
    width: 60px;
    text-align: right;
    padding-right: 10px;
    color: #70757a;
    font-size: 10px;
}
.time-column__value.--timezone {
    position: fixed;
    z-index: 101;
    margin-top: -2px;
    height: 18px;
    padding-top: 4px;
    padding-left: 4px;
    font-size: 9px;
}